<nav class="navbar navbar-dark fixed-top bg-dark flex-md-nowrap p-0 shadow">
    <a class="navbar-brand col-sm-3 col-md-2 mr-0" href="#">Pure Angular Charts</a>
    <!-- <input class="form-control form-control-dark w-100" type="text" placeholder="Search" aria-label="Search">
    <ul class="navbar-nav px-3">
        <li class="nav-item text-nowrap">
            <a class="nav-link" href="#">Sign out</a>
        </li>
    </ul> -->
</nav>
<div class="container-fluid">
    <h3 class="text-center p-1">Pure Angular Charts</h3>
    <div class="row">
        <nav class="col-md-2 d-none d-md-block bg-light sidebar">
            <div class="sidebar-sticky">
                <ul class="nav flex-column">
                    <li class="nav-item">
                        <a class="nav-link" [routerLink]="['/home']" [routerLinkActive]="['active']">
                            <i class="fa fa-home" aria-hidden="true"></i> All Charts
                        </a>
                    </li>
                </ul>
                <!-- <h6 class="sidebar-heading d-flex justify-content-between align-items-center px-3 mt-2 mb-1 text-muted">
                    <span>Numeric Axis</span>
                    <a class="d-flex align-items-center text-muted" href="#" aria-label="Add a new report">
                    </a>
                </h6> -->
                <ul class="nav flex-column">
                    <li class="nav-item">
                        <a class="nav-link" [routerLink]="['/demo', 'simple-bar-chart']"
                            [routerLinkActive]="['active']">
                            <i class="fa fa-bar-chart barColor" aria-hidden="true"></i> Simple Bar Chart
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" [routerLink]="['/demo', 'simple-line-chart']"
                            [routerLinkActive]="['active']">
                            <i class="fa fa-line-chart barColor" aria-hidden="true"></i> Simple Line Chart
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" [routerLink]="['/demo', 'simple-area-chart']"
                            [routerLinkActive]="['active']">
                            <i class="fa fa-area-chart barColor" aria-hidden="true"></i> Simple Area Chart
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" [routerLink]="['/demo', 'smooth-line-chart']"
                            [routerLinkActive]="['active']">
                            <i class="fa fa-line-chart barColor" aria-hidden="true"></i> Smooth Line Chart
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" [routerLink]="['/demo', 'smooth-area-chart']"
                            [routerLinkActive]="['active']">
                            <i class="fa fa-area-chart barColor" aria-hidden="true"></i> Smooth Area Chart
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" [routerLink]="['/demo', 'grouped-bar-chart']"
                            [routerLinkActive]="['active']">
                            <i class="fa fa-bar-chart barColor" aria-hidden="true"></i> Grouped Bar Chart
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" [routerLink]="['/demo', 'multi-type-chart']"
                            [routerLinkActive]="['active']">
                            <span class="fa-stack barColor" style="width:18px;height:1em;line-height:1em">
                                <i class="fa fa-area-chart fa-stack-1x" aria-hidden="true" style="opacity: 0.5;"></i>
                                <i class="fa fa-bar-chart fa-stack-1x" aria-hidden="true" style="opacity: 1.0;"></i>
                                <i class="fa fa-line-chart fa-stack-1x" aria-hidden="true" style="opacity: 1.0;"></i>
                            </span> Multi Type Chart
                        </a>
                    </li>
                    <!-- <li class="nav-item">
                        <a class="nav-link" [routerLink]="['/demo', 'multi-type-category-chart']"
                            [routerLinkActive]="['active']">
                            <span class="fa-stack barColor" style="width:1em;height:1em;line-height:1em">
                                <i class="fa fa-area-chart fa-stack-1x" aria-hidden="true" style="opacity: 0.5;"></i>
                                <i class="fa fa-bar-chart fa-stack-1x" aria-hidden="true" style="opacity: 1.0;"></i>
                                <i class="fa fa-line-chart fa-stack-1x" aria-hidden="true" style="opacity: 1.0;"></i>
                            </span> Multi Type Category
                        </a>
                    </li> -->
                </ul>
                <!-- <h6 class="sidebar-heading d-flex justify-content-between align-items-center px-3 mt-2 mb-1 text-muted">
                    <span>Category Axis</span>
                    <a class="d-flex align-items-center text-muted" href="#" aria-label="Add a new report">
                        <span data-feather="plus-circle"></span>
                    </a>
                </h6>

                <ul class="nav flex-column">
                    <li class="nav-item">
                        <a class="nav-link" [routerLink]="['/demo', 'simple-bar-category-chart']"
                            [routerLinkActive]="['active']">
                            Simple Bar Chart
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" [routerLink]="['/demo', 'simple-line-category-chart']"
                            [routerLinkActive]="['active']">
                            Simple Line Chart
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" [routerLink]="['/demo', 'simple-area-category-chart']"
                            [routerLinkActive]="['active']">
                            Simple Area Chart
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" [routerLink]="['/demo', 'smooth-line-category-chart']"
                            [routerLinkActive]="['active']">
                            Smooth Line Chart
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" [routerLink]="['/demo', 'smooth-area-category-chart']"
                            [routerLinkActive]="['active']">
                            Smooth Area Chart
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" [routerLink]="['/demo', 'multi-type-category-chart']"
                            [routerLinkActive]="['active']">
                            Multi Type Chart
                        </a>
                    </li>
                </ul> -->
            </div>
        </nav>
        <main class="col-md-9 ml-sm-auto col-lg-10 px-4">
            <router-outlet></router-outlet>
        </main>
    </div>
</div>