.btn.btn-secondary.active {
    color: rgb(187, 120, 255);
    background-color: #343a40;
}
.chartContainer{
    height: calc(100vh - 170px);
    min-height:300px;
    border: solid 1px #ababab;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19)
}

@media screen and (max-width: 768px){
    .chartContainer{
        max-height: 300px;
        margin-bottom: 15px;
        
    }
}