<div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
    <h1 class="h2 flex-grow-1">{{Pagetitle}}</h1>

    <div class="btn-group align-items-center" role="group">
        <span> Axis Type &nbsp;</span>
        <button type="button" class="btn btn-secondary" [class.active]="axisType=='numeric'"
            (click)="setAxisType('numeric')">Numeric</button>
        <button type="button" class="btn btn-secondary" [class.active]="axisType=='category'"
            (click)="setAxisType('category')">Category</button>
    </div>
</div>
<div class="row">
    <div class="col-lg-7 col-sm-12">
        <div style="height: calc(100vh - 170px);min-height:300px;">
            <pac-responsive-container [templateRef]="templateType">
            </pac-responsive-container>
            <ng-template #BarChartRef let-width="width" let-height="height">
                <pac-bar-chart [width]="width" [height]="height" [data]="chartData" [options]="chartOptions">
                </pac-bar-chart>
            </ng-template>
            <ng-template #LineChartRef let-width="width" let-height="height">
                <pac-line-chart [width]="width" [height]="height" [data]="chartData" [options]="chartOptions">
                </pac-line-chart>
            </ng-template>
            <ng-template #AreaChartRef let-width="width" let-height="height">
                <pac-area-chart [width]="width" [height]="height" [data]="chartData" [options]="chartOptions">
                </pac-area-chart>
            </ng-template>
            <ng-template #SmoothLineChartRef let-width="width" let-height="height">
                <pac-smooth-line-chart [width]="width" [height]="height" [data]="chartData" [options]="chartOptions">
                </pac-smooth-line-chart>
            </ng-template>
            <ng-template #SmoothAreaChartRef let-width="width" let-height="height">
                <pac-smooth-area-chart [width]="width" [height]="height" [data]="chartData" [options]="chartOptions">
                </pac-smooth-area-chart>
            </ng-template>
            <ng-template #MutiTypeChartRef let-width="width" let-height="height">
                <pac-multi-type-chart [width]="width" [height]="height" [data]="chartData" [options]="chartOptions">
                </pac-multi-type-chart>
            </ng-template>
        </div>
    </div>
    <div class="col-lg-5 col-sm-12" [hidden]="showData">
        <div style="border:solid 1px #cdcdcd; background: #fff;">
            <div class="d-flex p-2 pl-3" style="background:#343a40 ;color:#fff">
                <div class="font-16 flex-grow-1">Chart Options</div>
                <button class="btn btn-sm btn-primary" (click)="showData=true;">
                    <i class="fa fa-pencil" aria-hidden="true"></i> Data</button>
            </div>

            <json-editor [options]="chartOptionsEditorOptions" [data]="jeChartOptions"
                (change)="OnOptionsChange($event)"></json-editor>
        </div>
    </div>
    <div class="col-lg-5 col-sm-12" [hidden]="!showData">
        <div style="border:solid 1px #cdcdcd; background: #fff;">
            <div class="d-flex p-2 pl-3" style="background:#343a40 ;color:#fff">
                <div class="font-16 flex-grow-1">Chart Data</div>
                <button class="btn btn-sm btn-primary" (click)="showData=false;">
                    <i class="fa fa-pencil" aria-hidden="true"></i> Options</button>
            </div>
            <json-editor [options]="chartDataEditorOptions" [data]="jeChartData" (change)="OnDataChange($event)">
            </json-editor>
        </div>
    </div>
    <!-- <div class="col-lg-3 col-sm-12 pl-0 pr-0" style="border:solid 1px #cdcdcd; background: #fff;">

        <div class="font-16 p-1 pl-3" style="background:#343a40 ;color:#fff">Options</div>

        <json-editor [options]="jeoptions" [data]="barChartOptions" (change)="getData($event)"></json-editor>
    </div> -->
</div>