<div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
    <h1 class="h2">All Charts</h1>
</div>
<div class="row">
    <!-- `
        <div style="height:300px;padding: 5px;">
            <pac-responsive-container [templateRef]="MutiTypeChart">
            </pac-responsive-container>
            <ng-template #MutiTypeChart let-width="width" let-height="height">
                <pac-multi-type-chart [width]="width" [height]="height" [data]="multiTypeChartData"
                    [options]="multiTypeChartOptions">
                </pac-multi-type-chart>
            </ng-template>
        </div>
    </div>
    <div class="col-lg-6 col-sm-6">
        <div style="height:300px;padding: 5px;">
            <pac-responsive-container [templateRef]="LineChart">
            </pac-responsive-container>
            <ng-template #LineChart let-width="width" let-height="height">
                <pac-line-chart [width]="width" [height]="height" [data]="lineChartData" [options]="lineChartOptions">
                </pac-line-chart>
            </ng-template>
        </div>
    </div>
    <div class="col-lg-6 col-sm-6">
        <div style="height:300px;padding: 5px;">
            <pac-responsive-container [templateRef]="AreaChart">
            </pac-responsive-container>
            <ng-template #AreaChart let-width="width" let-height="height">
                <pac-area-chart [width]="width" [height]="height" [data]="areaChartData" [options]="areaChartOptions">
                </pac-area-chart>
            </ng-template>
        </div>
    </div>
    <div class="col-lg-6 col-sm-6">
        <div style="height:300px;padding: 5px;">
            <pac-responsive-container [templateRef]="BarChart">
            </pac-responsive-container>
            <ng-template #BarChart let-width="width" let-height="height">
                <pac-bar-chart [width]="width" [height]="height" [data]="barChartData" [options]="barChartOptions">
                </pac-bar-chart>
            </ng-template>
        </div>
    </div>
    <div class="col-lg-6 col-sm-6">
        <div style="height:300px;padding: 5px;">
            <pac-responsive-container [templateRef]="SmoothLineChart">
            </pac-responsive-container>
            <ng-template #SmoothLineChart let-width="width" let-height="height">
                <pac-smooth-line-chart [width]="width" [height]="height" [data]="smoothLineChartData"
                    [options]="smoothLineChartOptions">
                </pac-smooth-line-chart>
            </ng-template>
        </div>
    </div>
    <div class="col-lg-6 col-sm-6">
        <div style="height:300px;padding: 5px;">
            <pac-responsive-container [templateRef]="SmoothAreaChart">
            </pac-responsive-container>
            <ng-template #SmoothAreaChart let-width="width" let-height="height">
                <pac-smooth-area-chart [width]="width" [height]="height" [data]="smoothAreaChartData"
                    [options]="smoothAreaChartOptions">
                </pac-smooth-area-chart>
            </ng-template>
        </div>
    </div> -->
    <div class="col-lg-6 col-sm-6">
        <div style="height:300px;padding: 5px;">
            <pac-responsive-container [templateRef]="MutiTypeChartCategory">
            </pac-responsive-container>
            <ng-template #MutiTypeChartCategory let-width="width" let-height="height">
                <pac-multi-type-chart [width]="width" [height]="height" [data]="sd.multiTypeChartDataCategory"
                    [options]="sd.multiTypeChartOptionsCategory">
                </pac-multi-type-chart>
            </ng-template>
        </div>
    </div>
    <div class="col-lg-6 col-sm-6">
        <div style="height:300px;padding: 5px;">
            <pac-responsive-container [templateRef]="GroupedBarChartCategory">
            </pac-responsive-container>
            <ng-template #GroupedBarChartCategory let-width="width" let-height="height">
                <pac-grouped-bar-chart [width]="width" [height]="height" [data]="sd.groupedBarChartDataCategory"
                    [options]="sd.groupedBarChartOptionsCategory">
                </pac-grouped-bar-chart>
            </ng-template>
        </div>
    </div>
    <div class="col-lg-6 col-sm-6">
        <div style="height:300px;padding: 5px;">
            <pac-responsive-container [templateRef]="SmoothAreaChartCategory">
            </pac-responsive-container>
            <ng-template #SmoothAreaChartCategory let-width="width" let-height="height">
                <pac-smooth-area-chart [width]="width" [height]="height" [data]="sd.smoothAreaChartDataCategory"
                    [options]="sd.smoothAreaChartOptionsCategory">
                </pac-smooth-area-chart>
            </ng-template>
        </div>
    </div>
    <div class="col-lg-6 col-sm-6">
        <div style="height:300px;padding: 5px;">
            <pac-responsive-container [templateRef]="SmoothLineChartCategory">
            </pac-responsive-container>
            <ng-template #SmoothLineChartCategory let-width="width" let-height="height">
                <pac-smooth-line-chart [width]="width" [height]="height" [data]="sd.smoothLineChartDataCategory"
                    [options]="sd.smoothLineChartOptionsCategory">
                </pac-smooth-line-chart>
            </ng-template>
        </div>
    </div>
    <div class="col-lg-6 col-sm-6">
        <div style="height:300px;padding: 5px;">
            <pac-responsive-container [templateRef]="AreaChartCategory">
            </pac-responsive-container>
            <ng-template #AreaChartCategory let-width="width" let-height="height">
                <pac-area-chart [width]="width" [height]="height" [data]="sd.areaChartDataCategory"
                    [options]="sd.areaChartOptionsCategory">
                </pac-area-chart>
            </ng-template>
        </div>
    </div>
    <div class="col-lg-6 col-sm-6">
        <div style="height:300px;padding: 5px;">
            <pac-responsive-container [templateRef]="LineChartCategory">
            </pac-responsive-container>
            <ng-template #LineChartCategory let-width="width" let-height="height">
                <pac-line-chart [width]="width" [height]="height" [data]="sd.lineChartDataCategory"
                    [options]="sd.lineChartOptionsCategory">
                </pac-line-chart>
            </ng-template>
        </div>
    </div>

    <div class="col-lg-6 col-sm-6">
        <div style="height:300px;padding: 5px;">
            <pac-responsive-container [templateRef]="BarChartCategory">
            </pac-responsive-container>
            <ng-template #BarChartCategory let-width="width" let-height="height">
                <pac-bar-chart [width]="width" [height]="height" [data]="sd.barChartDataCategory"
                    [options]="sd.barChartOptionsCategory">
                </pac-bar-chart>
            </ng-template>
        </div>
    </div>


</div>